<!DOCTYPE html>
<html>
  <head>
    <title>Airport Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/style.css">
    <script src="/chat.js"></script>
  </head>

  <body>
    <nav>
      <div class="container">
        <h1>✈️ Airport Chat</h1>
      </div>
    </nav>
    
    <main>
      <% if flash[:alert] %>
        <div class="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
</html>
